<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Twitter Bot</title>
		<!-- socket -->
		<script src="/socket.io/socket.io.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
		<!-- Angularjs -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-sanitize.min.js"></script>
		<!-- Angular ngRoute -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.min.js"></script>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
		<!-- Angularjs config -->
		<script src="../javascripts/twitterbox/app.js"></script>
		<script src="../javascripts/twitterbox/controllers.js"></script>
		<script src="../javascripts/twitterbox/services.js"></script>
		<!-- Twitter CSS -->
		<link rel="stylesheet" href="../stylesheets/twitter.css">
		<script src="//platform.twitter.com/widgets.js"></script>
	</head>
	<body ng-app="twitterApp" ng-controller="twitterBox">
		<div class="container" >
			<div class="twitterbox col-sm-4" style="height: 400px">


						<div id="search-container" class="row">
							<div class="col-sm-12">
								<!-- this form will trigger the getTweets function in the javascript controller on submit -->
								<form class="input-group" ng-submit="getTweets(district)" >
									<span class="input-group-addon">@/#</span>
									<!-- this text input is binded to a variable in the javascript controller -->
									<input type="text" class="form-control" placeholder="#tag, @username" ng-model="district">
									<span class="input-group-btn">
										<button class="btn btn-default" type="submit">Get Tweets</button>
									</span>
								</form>
							</div>
						</div>

					<div ng-repeat="tweet in tweets track by $index">
						<span class="tweet-details" ng-bind-html="tweet.html"></span>
					</div>
			</div>
			
		</div>
	</body>
</html>