<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Twitter Bot</title>
		<!-- socket -->
		<script src="/socket.io/socket.io.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
		<!-- Angularjs -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
		<!-- Angular ngRoute -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.min.js"></script>
		<!-- Bootstrap: Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- Bootstrap: Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
		<!-- AngularUI -->
		<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
		<!-- Angularjs config -->
		<script src="../javascripts/twitter/app.js"></script>
		<script src="../javascripts/twitter/config.js"></script>
		<script src="../javascripts/twitter/controllers.js"></script>
		<script src="../javascripts/twitter/services.js"></script>
		<!-- Twitter CSS -->
		<link rel="stylesheet" href="../stylesheets/twitter.css">
		<script src="//platform.twitter.com/widgets.js"></script>

	</head>
	<body ng-app="myTwitterBot">	
		<div ng-view></div>		
	</body>
</html>