<div class="container">
	<div class="row">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="keyword" class="col-sm-2 control-label">Keyword</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="keyword" name="keyword" placeholder="keyword" ng-model="keyword">
				</div>
				
			</div>
			<div class="form-group">
				<label for="date" class="col-sm-2 control-label">Date</label>
				<div class="col-sm-8">
					<p class="input-group">
						<input type="date" class="form-control" id="date" ng-model="startDate" ng-change="formatDate(startDate)">
						<span class="input-group-btn">
							<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</p>
				</div>
				
			</div>
			<div class="form-group">
				<label for="geo" class="col-sm-2 control-label">Geo</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="geo" placeholder="e.g. 38.7687740,-77.1570900,1km" ng-model="geo">
				</div>
				<button class="btn btn-success" ng-click="searchKeyword(keyword, startDate, geo)">Search</button>
			</div>
			<div class="form-group">
				<label for="streamKey" class="col-sm-2 control-label">Stream #</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="streamKey" placeholder="#keyword" ng-model="streamKeywords">
				</div>
			</div>
			<div class="form-group">
				<label for="streamLocation" class="col-sm-2 control-label">Location</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="streamLocation" placeholder="southwest coner,northeast coner e.g. '11,33,10,34'" ng-model="streamGeo">
				</div>
				<button class="btn btn-success" ng-click="searchStream()">Search</button>
			</div>
			<div class="form-group">
				<label for="searchDistrict" class="col-sm-2 control-label">District</label>
				<div class="col-sm-8">
					<input type="text" id="searchDistrict" class="form-control" placeholder="district" ng-model="district">
				</div>
				<button class="btn btn-success" ng-click="searchDistrict(district)">Search</button>
			</div>
			<div class="form-group">
				<label for="snipped" class="col-sm-2 control-label">Snipped</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="snipped" placeholder="tweet id" ng-model="snippedId">
				</div>
				<button class="btn btn-success" ng-click="getHTML(snippedId)">Search</button>
			</div>
		</form>
	</div>
	<div class="row">
		<h1>Result</h1>
		<div class="panel panel-default">
			<div class="panel-body">
				<p  ng-repeat="(key, value) in result">
					{{key}}: {{value}}
				</p>
			</div>
		</div>
		<div ng-repeat="tweet in tweets track by $index">
			<div class="panel panel-default">
				<div class="panel-body">
					<p ng-repeat="(key,value) in tweet">
						{{key}}: {{value}}
					</p>
					<div>
						<textarea class="form-control" rows="3" placeholder="reply to {{tweet.user.screen_name}}" ng-model="replyText"></textarea>
					</div>
					
					<button class="btn btn-primary" ng-click="reply(tweet.user.screen_name, replyText, tweet.id_str)">Reply</button>
					<button class="btn btn-primary" ng-click="follow(tweet.user.screen_name)">Follow {{tweet.user.screen_name}}</button>
					<button class="btn btn-primary" ng-click="sendMessage(tweet.user.screen_name, replyText)">Send Message</button>
				</div>
			</div>
		</div>
	</div>
</div>